<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}">
    <title>Flask Com Python</title>
</head>
<body>
    <h1>Olá pessoal</h1>
    {% for cliente in content %}
        <div class="teste">
            <p>Nome: {{cliente[1]}}</p>
            <p>Idade: {{cliente[2]}}</p>
            <a href="/deletar?id={{cliente[0]}}">Deletar</a>
        </div>
    {% endfor %}
    <script src="{{ url_for('static', filename = 'script.js') }}"></script>
</body>
</html>