<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}">
    <title>Flask Com Python</title>
</head>
<body>
    <h1>Olá pessoal</h1>
    {% for cliente in content %}
        <form action="" method="post">
            <input type="text" name="nome" id="nome" value="{{cliente[1]}}" />
            <input type="text" name="idade" id="idade" value="{{cliente[2]}}" />
            <input type="hidden" name="id"  value="{{cliente[0]}}" />
            <input type="submit" name="update" value="Update" />
        </form>
        <div class="teste">
            <p>Nome: {{cliente[1]}}</p>
            <p>Idade: {{cliente[2]}}</p>
            <a href="/deletar?id={{cliente[0]}}">Deletar</a>
        </div>
    {% endfor %}
    <script src="{{ url_for('static', filename = 'script.js') }}"></script>
</body>
</html>