<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template GO</title>
</head>
<body>
    <h1>Cursos</h1>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Horas</th>
            </tr>
        </thead>
        <tbody>
            {{ range . }}
            {{ if eq .CargaHoraria 40 }}
            <tr>
                <td>{{ .Nome }}</td>
                <td>{{ .CargaHoraria }}</td>
            </tr>
            {{else if eq .CargaHoraria 50}}
            <tr>
                <td>Maior que 40 - {{.Nome}}</td>
                <td>Maior que 40 - {{.CargaHoraria}}</td>
            </tr>
            {{end}}
            {{ end }}
        </tbody>
    </table>
</body>
</html>